# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar archivos de logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar directorios del sistema operativo
.DS_Store
Thumbs.db

# Ignorar configuraciones del editor de código
.vscode/
.idea/

# Ignorar carpetas de salida o builds
/dist/
/build/
/coverage/

# Ignorar configuraciones específicas de npm y Yarn
package-lock.json*
yarn.lock

# Ignorar archivos de pruebas locales
*.local
